.main{
  height: 1000px;
}
.main-videos h2{
    font-size: large;
    font-family: $font;}
    .container {  
        color: white;
        padding-top: 150px;
        display: grid;
    justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "nav-area nav-area nav-area"
          "main main main"
          "footer footer footer";
      }
      
      .nav-area { grid-area: nav-area; }
      
      .main { grid-area: main; }
      
      .footer { grid-area: footer; }
      
      .nav-area{
        border: solid;
        padding: 20px;
      }
      .main{
        border: solid;
        padding: 20px;
      }
      .main-h5{
        border-top: 40px;
        background-color: bisque;
        display: inline-block;
    }
        main a {
        text-decoration: none;
    }
    
    .mb-3{
      max-width: fit-content;
    }
    .clearfix{
      border: solid yellow;
      padding-top: 20px;
      border-left: 30px;
    }
  